/* .winButtons_c38106.winButtonsWithDivider_c38106 {
	display: none;
} */

.trailing_c38106 {
	padding-right: 10px;
}

#profile-modal-editing-panel {
	display: none !important;
}

.container_a62383.purple_a62383.popoverGradientWrapper_d6f39b {
	display: none !important;
}

.layoutContainer__9c3be.editingPanelExpanded__9c3be {
	--custom-modal-v2-width: 962px;
	grid-template-columns: 0 1fr;
}

.outer_c0bea0.user-profile-modal-v2.outer_b92f52.profileContentOuter__9c3be {
	border-radius: 10px;
}
