[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin,inode/directory
MimeType=inode/directory;
Actions=runWithKitty;
X-KDE-AuthorizeAction=shell_access

[Desktop Action runWithKitty]
TryExec=Kitty
Exec=kitty -d %f
Icon=Kitty
Name=Open with Kitty
Comment=Open with Kitty