[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=inode/directory
Actions=RunCodeDir

[Desktop Action RunCodeDir]
Name=Open with Code
Icon=vscode
Exec=code %F